*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.89);
    color: white;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    background-color:rgb(16 3 3 / 48%) ;
    padding: 100px 50px;
    display: flex;
    justify-content: center;
}
.right{
    background-color: rgb(255, 255, 255);
    color: black;
    width: 300px;
    border-radius: 5px;
    padding: 30px;
}
img{
    max-width: 100%;
    width: 300px;
    height: 400px;
}
h2{
    padding-top: 20px;
    padding-bottom: 5px;
}
h3{
    font-size: 30px;
    color: rgb(90, 11, 11);
    display: inline-block;
    padding-right: 30px;
}
del{
    margin-bottom: 5px;
}
p{
    
    margin: 15px 0;
}
h5{
    margin-bottom: 20px;
    color: rgb(26, 172, 38);
    font-size: 15px;
    font-weight: 2000;
    font-weight: 2000;
}
h6{
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 2000;
}
li{
    list-style: none;
}
.active{
    background-color: rgb(26, 172, 38);
    color: rgb(24, 21, 21);
}
a{
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    background-color: rgb(90, 11, 11);
    display: block;
    margin-bottom: 10px;
    font-weight: 2000;
    border-radius: 8px;
    width: 70%;
    margin-top: 20px;
}
a:hover{
    background-color:rgb(26, 172, 38);
    color: rgb(24, 21, 21) ;
}